.container
{

}

.logo
{
    width: 100%;
    opacity: 0.3;
}

.content
{
    width: max-content;
    margin: auto;
    padding-top: 20em;
}

.text
{
    font-family: "Inter";
    font-size: 1em;
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}

.button
{
    width: max-content;
    margin: auto;
}

.imgReseaux
{
    height: 2em;
    margin-right: 0.5em;
}

.link
{
    color: black;
    transition: 0.3s;
}

.link:Hover
{
    text-decoration: none;
    color: #58a8ff;
}


/*PHONE*/

@media only screen and (max-width: 600px) {
    /*.text {*/
    /*    text-align: justify;*/
    /*    font-size: 3em;*/
    /*}*/

    .button
    {
        width: unset;
    }

    .button .but
    {
        width: 100%;
        height: 4em;
        margin: auto;
        display: block;
    }
}