.linkToHome
{
    margin-right: 1.5em;
    padding-top: 0.125rem;
    font-family: "Inter-Bold";
}


.container
{

}

.point
{
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgba(225, 146, 205, 0.7);
    z-index: -50000;
    filter: blur(75px);

    left: 50%;
    top: 75px;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);


}

.title
{
    font-family: Inter-Bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 1em;

}

.content
{
    margin-top: 4em;
}

.subtitle
{
    font-family: Inter;
    font-size: 1em;
    color: #58a8ff;
    margin-top: 5em;
}

.subtitle_find
{
    font-family: Inter-Light;
    font-size: 1.5em;
    margin-top: 4em;
}

.form_row
{

}

.button
{
    margin: auto;
    margin-top: 2em;
    display: block;
}


.statistiques_button_contain
{
    margin-top: 4em;
}

.statistiques_button
{
    text-align: center;
}


.buttonStats
{
    color: white;
    background-color: black;
    font-family: Inter;
    border-radius: 8px;
    transition: 0.5s all;
}

.buttonStats:hover
{
    transform: scale(0.9);
    color: white;
    /*background-color: rgba(88, 168, 255, 0.3);*/
    text-decoration: none;
}


/*PHONE*/

@media only screen and (max-width: 600px) {
    .title
    {
        font-size: 1.5em;
    }

    .subtitle
    {
        margin-top: 4em;
    }

    .content
    {
        margin-bottom: 3em;
    }
}
