.footer
{
    color: black;
    padding: 0.2em 3em 1em;
    bottom: 0;
    margin-top: 3em;

    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.link
{
    color: black;
    transition: 0.3s;
}

.link:Hover
{
    text-decoration: none;
    color: #58a8ff;
}


/*PHONE*/

@media only screen and (max-width: 600px) {

    .footer
    {
        margin-top: 1em;
    }

}
