.footer
{
    color: black;
    width: 90vw !important;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.2em;
    bottom: 0;
    margin-top: 3em;

    text-align: center;
}


/*PHONE*/

@media only screen and (max-width: 600px) {

    .footer
    {
        margin-top: 1em;
    }

}
