.navbar
{
    padding-right: 2em;
    padding-left: 2em;
}

.linkToHome
{
    margin-right: 1.5em;
    font-family: "Inter-Bold";
}

.joke{
    transition: 0.3s;
}

.joke:Hover
{
    cursor: pointer;
    color: #bd93d8 !important;
}


@media only screen and (max-width: 600px) {

    .linkToHome
    {
        margin: auto;
        font-size: 0.7em;
    }

    .link
    {
        font-size: 0.7em;
    }



}

