
.loader-hidden {
    display: none;
}
.loader-active {
    display: block;
}

.title
{
    font-family: "Inter-Bold";
    text-transform: uppercase;
    font-size: 2em;
    padding: 1em 2em 0.2em;
    letter-spacing: 0.5px;
    text-align: center;
}

.subtitle
{
    font-family: Inter;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 4em;
    color: #007bff;
}


/*Category*/
.category
{

}

.category_Row
{
    display: flex;
    /*width: 29em;*/
    margin: auto;
    margin-bottom: 2em;
    padding: 10em;
    padding-top: 2em;
    padding-bottom: 5em;
}

.category_item
{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 123, 255, 0.2);

    margin: auto;
    border-radius: 10px;
    position: relative;

    transition: 0.3s;
}

.category_item:Hover
{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 123, 255, 0.5);
    margin: auto;
    color: white;
    border-radius: 10px;
    position: relative;
}

.category_containerTitle
{
    position: relative;
    margin-top: 1em;
}

.category_title
{
    font-family: Inter-Bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
}

.category_img
{
    height: 8em;
    margin: auto;
    margin-top: auto;
    display: block;
    font-size: 1em;
    opacity: 0.1;
    margin-top: 1em;

    transition: 0.3s;
}

.category_item:Hover .category_img
{
    opacity: 1;
}


/*COMMUN*/

.commun_title
{
    font-family: Inter-Bold;
    text-transform: uppercase;
    margin-bottom: 2em;
}

/*PreStats*/
.preStats
{
    margin-bottom: 4em;
}

.preStats_content
{
    display: flex;
    padding: 0em 10em 0em 10em;
}

.preStats_item
{
    padding: 2em;
    margin: auto;
}

.preStats_item_title
{
    font-family: Inter;
    font-size: 1.5em;
}


.preStats_stat
{
    text-align: center;
    display: block;
    font-family: Inter-Bold;
    font-size: 3em;
    color: #bd93d8;
}

.preStats_contentLast
{
    display: flex;
    margin-top: 4em;
    margin-bottom: 6em;
}

.preStats_contentLast_table
{

}

.preStats_content_item
{
    margin: auto;
    width: 45%;

}

.preStats_content_item_title
{
    font-family: Inter;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
}

.styles.styles.preStats_contentLast_table
{
    padding: 2em;
}


/*STATISTIQUE DETAILLEE*/
.statistique_detaillee
{

}

.Moinsdedix
{
    padding: 1em;
}

.Moinsdedix_last
{
    font-family: Inter;
    padding: 1em 0em 1em 0em;
}


.statistique_detaillee_search
{
    font-size: 1em;
    font-family: Inter;
    margin-top: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;
    color: #dd2d2d;
}

.button
{
    margin-top: 1em;
}

.Results
{
    background-color: #e5f2f6;
    margin-top: 5em;
    padding: 1em;
    border-radius: 4px;
}

.Results_content
{
    font-family: Inter;
}

/*MOINS DE DIX*/



.news
{
    font-family: Inter-Bold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 2em 2em 0em;
    margin-top: 2em;
}

.newsSubtitle
{
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;

}

@media only screen and (max-width: 600px) {

    .title
    {
        font-size: 1em;
        margin-top: 1em;
    }

    .subtitle
    {
        font-size: 0.7em;
        line-height: 1.75em;
    }

    .commun_title
    {
        font-size: 1em;
        margin-top: 4em;
        margin-bottom: unset;
    }

    .category_Row
    {
        padding: unset;
    }

    .category_item
    {
        width: 100px;
        height: 100px;
    }

    .category_item:Hover
    {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 123, 255, 0.5);
        margin: auto;
        color: white;
        border-radius: 10px;
        position: relative;
    }

    .category_img
    {
        height: calc(100% - 50%);
    }

    .category_title
    {
        font-size: 0.4em;
    }

    .preStats_content
    {
        padding: unset ;
    }

    .preStats_content_item
    {
        /*margin-bottom: 8em;*/
        height: unset;
    }

    .preStats_item_title
    {
        font-size: 1em;
        text-align: center;
    }

    .preStats_contentLast
    {
        display: block;
        margin-top: unset;
    }

    .preStats_content_item_title
    {
        font-size: 1em;
    }

    .preStats_contentLast_table
    {
        font-size: 0.8em;
        margin-bottom: 2em;
    }



    .preStats_content_item
    {
        width: unset;
        margin-bottom: 4em;
    }

    .preStats
    {
        display: block;
        height: unset;
    }

    .preStats_item
    {
        margin: auto;
        margin-bottom: 2em;
        border-radius: 4px;
    }

    .preStats_title
    {
        font-size: 0.8em;
    }

    .news
    {
        font-size: 1.20em;
        margin-top: 1.5em;
        padding-bottom: unset;
    }

    .newsSubtitle
    {
        font-size: 0.8em;
        margin-bottom: 3em;
    }

    .row
    {
        display: block;
        margin-top: 3em;
    }

}