.modal
{
  font-family: Inter, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.modal_title
{
  font-family: Inter-Bold, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content
{
  text-align: center;
  margin-top: 3em;
}

.title
{
  font-family: Inter-Bold;
  font-size: 4em;
  margin-bottom: 0.2em;

}

.subtitle
{
  font-family: Inter;
  font-size: 1.2em;
  color: #58a8ff;
  margin-bottom: 2em;
}

.bar
{
  width: 50%;
  height: 2px;
  background-color: #a2a2a261;
  margin: auto auto 4em;
  border-radius: 10px;
}

/*STATISTIQUES*/

.statistiques
{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.statistiques_item
{
  padding: 1em 2em 1em 2em;
  margin: auto;
  border-radius: 25px;
  width: 20em;
  text-align: center;
}

.statistiques_explain
{
  font-family: Inter-Bold;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.50em;
}

.statistiques_stat
{
  text-align: center;
  display: block;
  font-family: Inter-Bold;
  color: #58a8ff;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.statistiques_title
{
  font-family: Inter-Light;
  text-transform: uppercase;
  font-size: 1em;
  color: black;
}

.statistiques_button_contain
{
  margin-bottom: 5em;
  padding-right: 4em;
}

.statistiques_button
{
  float: right;
}


.buttonStats
{
  color: white;
  background-color: black;
  font-family: Inter;
  border-radius: 8px;
  transition: 0.5s all;
}

.buttonStats:hover
{
  transform: scale(0.9);
  color: white;
  /*background-color: rgba(88, 168, 255, 0.3);*/
  text-decoration: none;
}

/*EXPLAIN*/

.explain
{
  margin-bottom: 2em;
}

.explain_titlecontent
{
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.france
{
  height: 2.5em;
  margin-right: 1em;
}

.explain_title
{
  font-family: Inter-Bold;
  text-transform: uppercase;
  margin-bottom: unset;
}

.explain_text
{
  font-family: Inter;
  display: block;
  line-height: 2em;
  letter-spacing: 1.2px;
}

.formulaireContainer
{
  /*background: linear-gradient(90deg, rgb(147, 202, 216, 0.5) 0%, rgb(224, 216, 231, 0.5) 50%, rgb(207, 63, 59, 0.5) 100%);*/
  background-color: #def0fc;
  padding: 2em;
  border-radius: 15px;
}

.formulaire_button
{
  margin-right: 2em;
}

/*EFFECTS*/

.wrap {
  background: inherit;
  /*animation: 7s spin ease-in-out infinite;*/

  z-index: -50000;
  position: relative;
  top: 4em;
}

.meta:before,
.meta:after {
  content: "";
  position: absolute;
  width:100px;
  height:100px;
  left:50%;
  top:50%;
  margin:-50px;
  background: rgba(160,230,245,.9);
  border-radius:50%;
  -webkit-filter: blur(25px);
  filter: blur(25px);
  animation: move 12s infinite alternate ease-in-out;

}
.meta:before {
  animation-duration: 19.3s;
  animation-delay: -3.3s;
}
.meta:nth-child(2):before {
  animation-duration: 14.7s;
  animation-delay: -2.7s;
}
.meta:nth-child(2):after {
  animation-duration: 8.7s;
  animation-delay: -5.32s;
}
@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}
@keyframes move {
  0% {
    transform: translate(0%, 100%);
  }
  15% {
    transform: translate(-120%, 160%);
  }
  30% {
    transform: translate(100%, -80%);
  }
  40% {
    transform: translate(-140%, 0%);
  }
  60% {
    transform: translate(40%, -80%);
  }
  80% {
    transform: translate(-160%, -20%);
  }
  100% {
    transform: translate(40%, 60%);
  }
}


/*MAINTENANCE*/

.maintenance
{
  font-family: "Inter-Bold";
  text-align: center;
  margin-bottom: 2em;
}

.next
{
  background-color: #e5f2f6;
  height: 10em;
  border-radius: 4px;
}

.next_title
{
  font-family: "Inter-Light";
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  font-size: 1em;
}

.listLabel
{
  font-family: "Inter";
  padding: 1em;
}

.listLink
{
  font-family: "Inter-Bold";
}



.label
{
  font-family: Inter-Bold;
  letter-spacing: 1px;
  color: #58a8ff;
  text-align: center;
  width: 100%;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-size: 1.5em;
}

.inputSalaire_prepend
{
  background-color: transparent;
  border: unset;

  position: relative;
}

.inputSalaire
{
  border-bottom: 1px solid gray;
  border-left: 0px solid ;
  border-right: 0px solid ;
  border-top: 0px solid ;
  background-color: transparent;
  border-radius: 0px;

  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
  color: black;
}

.inputSalaire:Hover
{
  border-bottom: 2px solid black;

}

.inputSalaire:Focus
{
  background-color: transparent;
  border-bottom: 2px solid black;
}


.input
{
  margin-bottom: 2.5em;
}

.input2
{
  margin-bottom: 2.5em;
  width: 15em;
}

.button
{
  margin-top: 1.5em;
  float: right;
}


/*PHONE*/

@media only screen and (max-width: 600px) {

  .container
  {
    padding-top: 3em;
    justify-content: unset;
  }

  .content
  {
    margin-top: unset;
  }

  .statistiques
  {
    display: none;
  }

  .statistiques_button_contain
  {
    padding-right: unset;
    margin-bottom: 3em;
    margin-top: 1em;
  }
  
  .statistiques_button
  {
    float: unset;
  }

  .buttonStats
  {
    color: white;
    background-color: #007bff;

    display: block;
    margin: auto;
  }

  .buttonStats:hover
  {
    color: white;
    background-color: rgba(0, 123, 255, 0.5);
  }

  .explain
  {
    margin-bottom: unset;
  }

  .label
  {
    font-size: 1em;
  }

  .explain_text
  {
    margin-bottom: 2em;
    text-align: justify;
  }

  .title {
    font-size: 2em;
  }

  .bar
  {
    margin-bottom: 2em;
  }

  .input2
  {
    width: 100%;
  }

  .field
  {
    width: 100%;
  }

  .button{
    width: 100%;
  }

  .next
  {
    height: 12em;
  }


  /*MAINTENANCE*/
  .maintenance
  {
    font-size: 2em;
    margin-bottom: 0em;
  }
}


@media only screen and (max-width: 400px) {

  .listLink{
    font-size: 0.8em;
  }


  .next
  {
    height: 13em;
  }

  .france
  {
    height: 2em;
  }

  .explain_title
  {
    font-size: 1em;
  }

  .explain_text
  {
    font-size: 0.7em;
  }

  .label
  {
    font-size: 0.8em;
  }


}