.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content
{
  text-align: center;
}

.title
{
  font-family: Inter-Bold;
  font-size: 4em;
  margin-bottom: 0.2em;

}

.subtitle
{
  font-family: Inter;
  margin-bottom: 2em;
  font-size: 1.2em;
  color: #949494;
}



/*MAINTENANCE*/

.maintenance
{
  font-family: "Inter-Bold";
  text-align: center;
}

.bar
{
  width: 50%;
  height: 2px;
  background-color: gainsboro;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: 2em;
}

.next
{
  background-color: #e5f2f6;
  height: 10em;
  border-radius: 4px;
}

.next_title
{
  font-family: "Inter-Light";
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  font-size: 1em;
}

.listLabel
{
  font-family: "Inter";
  padding: 1em;
}

.listLink
{
  font-family: "Inter-Bold";
}




.home
{

}

.label
{
  font-family: Inter-Bold;
  letter-spacing: 1px;
  color: #bd93d8;
}

.input
{
  margin-bottom: 2.5em;
}

.input2
{
  margin-bottom: 2.5em;
  width: 15em;
}

.button
{
  margin-top: 1em;
  float: right;
}

.footer
{
  color: black;
  width: 100vw !important;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.2em;
  position: absolute;
  bottom: 0;
}



/*PHONE*/

@media only screen and (max-width: 600px) {


  .container
  {
    /*min-height: auto;*/
    padding-top: 4em;

  }

  .title {
    font-size: 2em;
  }

  .input2
  {
    width: 100%;
  }

  .button{
    width: 100%;
  }

  .footer
  {
    position: relative;
    margin-top: 3em;
  }


  /*MAINTENANCE*/
  .maintenance
  {
    font-size: 2em;
  }
}
