.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content
{
  text-align: center;
}

.title
{
  font-family: Inter-Bold;
  font-size: 4em;
  margin-bottom: 0.2em;

}

.subtitle
{
  font-family: Inter;
  margin-bottom: 2em;
  font-size: 1.2em;
  color: #949494;
}

.home
{

}

.label
{
  font-family: Inter-Bold;
  letter-spacing: 1px;
  color: #bd93d8;
}

.input
{
  margin-bottom: 2.5em;
}

.input2
{
  margin-bottom: 2.5em;
  width: 15em;
}

.button
{
  margin-top: 1em;
  float: right;
}

.footer
{
  color: black;
  width: 100vw !important;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.2em;
}



/*PHONE*/

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2em;
  }
}
